<div class="row">
    <div class="col-sm-6 offset-3">
        <div class="text-center">
            <h4>
                Sign Up
            </h4>

        </div>
        <form [formGroup]="userForm"
              (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                       formControlName="username"
                       class="form-control"
                       [ngClass]="{'is-invalid':username.errors && username.touched}"
                       id="username"
                       placeholder="Username">
                <div class="invalid-feedback"
                     *ngIf="username.hasError('usernameTaken')">
                    Username is taken
                </div>
                <div class="invalid-feedback"
                     *ngIf="username.hasError('required')">
                    Username is required
                </div>
                <div class="invalid-feedback"
                     *ngIf="username.hasError('minlength')">
                    Username must be at least 3 characters
                </div>

            </div>

            <div class="form-group">
                <label for="username">secondName</label>
                <input type="text"
                       formControlName="secondName"
                       class="form-control"
                       [ngClass]="{'is-invalid':username.errors && username.touched}"
                       id="secondName"
                       placeholder="secondName">
                <div class="invalid-feedback"
                     *ngIf="username.hasError('usernameTaken')">
                    Username is taken
                </div>
                <div class="invalid-feedback"
                     *ngIf="username.hasError('required')">
                    Username is required
                </div>
                <div class="invalid-feedback"
                     *ngIf="username.hasError('minlength')">
                    Username must be at least 3 characters
                </div>

            </div>


            <div class="form-group">
                <label for="inputState">Choose a frameWork</label>
                <select id="inputState"
                (change)="onChange($event.target.value)"
                        formControlName="framework"
                        class="form-control">
                    <option value=""
                            disabled>Choose a frameWork</option>
                    <option id="shpek" *ngFor="let framework of frameOptions"
                            [ngValue]="framework">

                            
                        {{ framework }}
                    </option>

                </select>
            </div>

            <div class="form-group">
                <label for="inputState">Choose a frameWork Version</label>
                <select id="inputState"
                        formControlName="frameVersionOptions"
                        class="form-control">
                    <option value=""
                            disabled>Choose a frameWork Version</option>
                    <option *ngFor="let frameVersionOptions of frameVersionOptions"
                            [ngValue]="frameVersionOptions">
                        {{ frameVersionOptions }}
                    </option>

                </select>
            </div>

            <!-- <div class="form-group">
                <label for="inputState">Choose a date</label>
                <input (click)="onClick($event.target.value)" type="text" id="datetime-picker" class="flatpickr-input active" readonly="readonly">
            </div> -->

            <div class="form-group">
                <label for="username">email</label>
                <input type="text"
                       formControlName="email"
                       class="form-control"
                       [ngClass]="{'is-invalid':username.errors && username.touched}"
                       id="email"
                       placeholder="email">
                <div class="invalid-feedback"
                     *ngIf="username.hasError('usernameTaken')">
                    Username is taken
                </div>
                <div class="invalid-feedback"
                     *ngIf="username.hasError('required')">
                    Username is required
                </div>
                <div class="invalid-feedback"
                     *ngIf="username.hasError('usernameTaken')">
                    Username must be at least 3 characters
                </div>

            </div>
            


            <p>
                <button class="btn btn-success"
                        type="submit"
                        [disabled]="userForm.invalid"><i class="fas fa-save"></i> Save</button>

            </p>
        </form>
        <div>
            {{userForm.value | json}}
        </div>
    </div>

</div>